*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
body,
html {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

body {
  background: #1e252b;
  font-family: Poppins;
  font-family: ;
}

a {
  text-decoration: none;
  color: inherit;
}
